/*************************** Header **************************/

/* Content Header */

#main-header {
  font-family: "Allura", cursive; 
  background: url('../Bilder/Logo.png') no-repeat center, linear-gradient(to right, #d10d0d, #1088c0)
  
}

/* Hauptüberschrift Header */

.display-1 {
  text-decoration: none; /* Text-Dekoration entfernen */
}

/*************************** Menü **************************/

/* Menü Titel */

.menu-title {
  font-size: 40px; 
  color: #000000; 
  font-weight: bold; 
  text-align: center;
  font-family: "Allura", cursive; 
}

/* Menü Content Mitte */

a {
  text-align: center; 
}

/* Menü Padding */

.menu-col {
  padding: 20px;
}

/* Menü Optik */

.nav-item {
  border-top: 2px solid #d10d0d; 
  border-radius: 5px; 
  margin-bottom: 5px; 
  padding: 10px; 
  transition: background-color 0.3s; /* Übergangseffekt für Hover */
  font-family: cursive;
  font-weight: bold;
}

/* Menü Content Schrift */

.navbar a {
  font-size: large;
  transition: background-color 0.3s; /* Übergangseffekt für Hover */
}


/* Menü Flexbox */

.row {
  display: flex; 
}

/* Schriftkultur */

/* Stile für die LTR-Anzeige */

html[dir="ltr"] {
  flex-direction: row; /* LTR: Menü links, FAQ rechts */
}

/* Stile für die RTL-Anzeige */
html[dir="rtl"] {
  flex-direction: row-reverse; /* RTL: Menü rechts, FAQ links */
}

/*************************** Hauptseite Content **************************/

#main-content {
  border-left: 2px solid #d10d0d; /* Rote Linie links des Hauptinhalts */
  border-right: 2px solid #1088c0; /* Blaue Linie rechts des Hauptinhalts */
  padding: 40px;
  text-align: justify; 
  font-family: Arial;
}

/* Hauptseite Content Überschrift*/

h1 {
  text-decoration: underline;
  font-weight: bold; 
}

/*************************** FAQ **************************/

#faq-section {
  text-align: justify;
  text-align-last: center;
  padding: 40px;
}

/*************************** Hero **************************/

/* Verstecken des Hero */
.hidden {
  display: none; 
}

/* Cotent Hero-Bereich */
.hero {
  background-image: url("../Bilder/hero-image.jpg"); /* https://www.sonnenseite.com/de/zukunft/was-wir-heute-uebers-klima-wissen-2/ */
  background-size: cover; /* Bild deckt den gesamten Bereich ab */
  background-position: center; 
  height: 100vh; 

  display: flex; /* Aktiviert Flexbox */
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 

  text-align: center; 
  color: black; 
  font-family: Arial, sans-serif; 
}

/* Überschrift Hero-Bereich */

.hero h1 {
  font-size: 60px; 
  font-weight: bold; 
  color: black; 
  font-family: "Allura", cursive; 
  background-color: rgba(218, 219, 194, 0.8);
  display: inline-block; 
  padding: 15px; 
}

/* Button Hero-Bereich */

.hero button {
  font-size: 1.2rem; 
  padding: 10px 20px; 
  border-radius: 50px; 
  transition: background-color 0.3s, transform 0.2s; 
  margin-top: 10px; 
  background-color: green;
}

/*************************** Tabelle **************************/

/* Pfeile Sortierung */

.sort-arrow {
  margin-left: 5px;
  font-size: 0.8em; /* Pfeile kleiner machen */
  color: gray; /* Farbe der Pfeile */
}
.asc::after {
  content: " ▲"; /* Aufsteigend Pfeil */
}
.desc::after {
  content: " ▼"; /* Absteigend Pfeil */
}

/*************************** Tabelle **************************/

/* Einführung Partner*/

#intro-partner{
  font-size: 20px;
}
